.shop-theme {
    margin: 0 auto;
}

.shop-theme__header {
    padding: 1.25rem 1.875rem;
    max-width: 1600px;
    margin: 0 auto;
}

.shop-theme__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Horizon', sans-serif;
}
