@font-face {
    font-family: 'Horizon';
    src: url('../../assets/fonts/HorizoneSurvivePersonalUseOnly-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.trending {
    padding: 1.25rem 1.875rem;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 500px;
}

.trending__title {
    font-family: 'Horizon', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Horizon', sans-serif;
}

.trending__toolbar {
    display: flex;
    gap: 0.625rem;
    margin-top: 1.25rem;
    justify-content: space-between;
}
.trending__tabs {
    display: flex;
    gap: 0.625rem;
}

.trending__tab {
    border: 1px solid #000;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    font-size: 0.875rem;
    min-width: 10rem;
    text-align: center;
}

.trending__tab--active {
    background-color: #000;
    color: #fff;
}
