.main-nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    flex-wrap: wrap;
    
}


.main-nav__link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0px;
    position: relative;
}

.main-nav__link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.main-nav__link:hover::after{
    transform:scaleX(1);

}

.main-nav__item--has-dropdown{
    position: relative;
}

.main-nav__dropdown{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style:none;
    top: 100%;
    padding: 10px 0;
    padding: 0 10px;
    z-index: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    

}
.main-nav__dropdown-item{
    padding: 0;
}
.main-nav__link--sub{
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
}

.main-nav__item--has-dropdown:hover .main-nav__dropdown{
    display: block;
}


@media (max-width: 980px) {
    .main-nav__list{
        display: none;
    }
    
    
}
