.free-shipping-banner {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 30px;
   
}

.free-shipping-banner p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
}


.header-logo img {
    width: 220px;
    height: auto;
}

@media (max-width: 480px) {
    .header-container {
        padding: 8px 15px;
    }
    .header-logo img {
        width: 150px;
    }
    .free-shipping-banner {
        padding: 8px 15px;
    }
    .free-shipping-banner p {
        font-size: 12px;
    }
}

