.mini-cart__lines{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mini-cart__line{
    display: flex;
    gap: 25px;
    height: 220px;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.mini-cart__line-body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mini-cart__line-image{
    width: auto;
    height: 100px;
    
}
.mini-cart__line-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mini-cart__line-name{
    line-height: 1.7;
}
.mini-cart__line-brand{
    font-size: 15px;
   
}
.mini-cart__line-category{
    font-size: 15px;
 
}
.mini-cart__line-price{
    
    font-size: 19px;
    font-weight: 600;
}

.mini-cart__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.mini-cart__empty-text {
    font-size: 15px;
    font-weight: 600;
}
.mini-cart__continue-btn {
    background-color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Horizon', sans-serif;
    font-size: 20px; 
}
.mini-cart__continue-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
