.cart-products-list-container{

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-product{
    display: flex;
    gap: 25px;
    height: 300px;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart-product-image{
    width: auto;
    height: 100px;
    
}
.cart-product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-name{
    line-height: 1.7;
}
.product-color{
    font-size: 15px;
    font-weight: 600;
}
.product-size{
    font-size: 15px;
    font-weight: 600;
}
.product-price{
    margin-top: 5px;
    font-size: 21px;
    font-weight: 600;
}
.product-quantity{
    font-size: 14px;
}