.cart-payment-summary-container{
    display: flex;
    flex-direction:column;
    height: 320px;
  
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 20px;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
}

.total-price-container h4,
.total-price-container p {
    font-size: 18px;
    font-weight: 600;
}

.worry-free-delivery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 5px;
}

.worry-free-delivery-container label {
    display: flex;
    gap: 10px;
    font-size: 15px;
}
.worry-free-delivery-container label input {
    width: 16px;
    height: 16px;
}

.worry-free-delivery-container p {
    font-size: 12px;
}

.payment-methods-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

}
.payment-methods-container button {
    min-height: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.payment-methods-container button img{
    width: auto;
    height: 20px;
   
   
    border-radius: 5px;
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.payment-methods-container button:hover img {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.paypal-button {
    background-color: #f7a816;
}
.apple-pay-button {
    background-color: #000;
}
.apple-pay-button img {
    filter: invert(1);
}
.checkout-button {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.checkout-button:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}