.mini-cart__summary{
    display: flex;
    flex-direction:column;
    height: 320px;
  
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 20px;
}

.mini-cart__total-row {
    display: flex;
    justify-content: space-between;
}

.mini-cart__total-heading,
.mini-cart__total-value {
    font-size: 18px;
    font-weight: 600;
}

.mini-cart__addon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 5px;
}

.mini-cart__addon-label {
    display: flex;
    gap: 10px;
    font-size: 15px;
}
.mini-cart__addon-checkbox {
    width: 16px;
    height: 16px;
}

.mini-cart__addon-note {
    font-size: 12px;
}

.mini-cart__payments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

}
.mini-cart__pay-btn {
    min-height: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.mini-cart__pay-btn img{
    width: auto;
    height: 20px;
   
   
    border-radius: 5px;
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.mini-cart__pay-btn:hover img {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.mini-cart__pay-btn--paypal {
    background-color: #f7a816;
}
.mini-cart__pay-btn--apple-pay {
    background-color: #000;
}
.mini-cart__pay-btn--apple-pay img {
    filter: invert(1);
}
.mini-cart__pay-btn--checkout {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.mini-cart__pay-btn--checkout:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
