.sidebar-nav-dropdown__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-nav-dropdown__link {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    padding: 8px 0;
}
.sidebar-nav-dropdown{
    overflow: hidden;
}

.sidebar-nav-dropdown__toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
}

.sidebar-nav-dropdown__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    list-style: none;
    padding-top: 10px ;
    background-color: #f5f5f5;
    
}
.sidebar-nav-dropdown__sub-link{
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}
